<!DOCTYPE html>
<html>

<head>
   <title>ML Image Classifer</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
   <div class="container">
      <div class="row">
         <h1 class="display-4">VGG16 Image Classifer</h1>
         <h1 class="lead">Upload image below</h1>
      </div>

      <div class="row"><br></div>

      <div class="row">
         <form action="/uploader" method="POST" enctype="multipart/form-data">
            <div class="form-group">
               <input type="file" class="form-control-file" name="file" id="myFileInput">
               <button type="submit" class="btn btn-primary m-2">Submit</button>
            </div>
         </form>
      </div>

   </div>

</body>

</html>